@import '../../styles/variables';

.home-page {
  width: 100%;
  overflow-x: hidden;
  background: white;
  padding-top: 0; // El navbar está fixed
  
  section {
    position: relative;
    width: 100%;
  }

  .home-page {
  background: #0a0a0a;
}
}
