@import '../../../styles/abstracts/_variables';
@import '../../../styles/abstracts/_mixins';

.motivational-phrase-section {
  width: 100%;
  margin-top: 0px; // más cerca de WhyItWorks
  padding: 10px 0;
  overflow: hidden;
  background: $color-white;
  display: flex;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0%;
    right: 0%;
    height: 2px;
    background: linear-gradient(to right, $color-primary);
    background-size: 100% 1px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.motivational-ticker {
  display: flex;
  white-space: nowrap;
  gap: 60px;
  font-family: 'Mohave', sans-serif;
  font-size: 28px; // tamaño un poco más grande
  font-weight: 700;
  padding: 20px 0;
}

.motivational-phrase-item {
  display: inline-block;
  
  &.text-black {
    color: $color-black;
  }

  &.text-golden {
    color: $color-primary;
  }
}
